* {
  margin: 0;
  padding: 0;
  outline: none;
  color: #777;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

body {
  background: #2b3134;
}

.main-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main {
  width: 80%;
  height: 100%;
  margin-top: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main .reload-btn {
  margin-left: calc(100% - 100px);
}

.StorySection {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

.StorySection h2 {
  text-align: center;
  padding-bottom: 20px;
}

.StorySection .storyLink,
.StorySection .date,
.StorySection .author,
.StorySection .comments {
  margin-top: 10px;
}

.StorySection .storyLink p,
.StorySection .date p,
.StorySection .author p,
.StorySection .comments p {
  margin-bottom: 10px;
}

.StorySection .link {
  border-bottom: 1px solid #ff8636;
  padding: 0 0;
}

.StorySection .link:hover {
  padding: 0 2px;
}

.btn {
  cursor: pointer;
}

.reload-btn {
  width: 120px;
  font-size: 24px;
  font-weight: 700;
  font-weight: 200;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  border: solid 2px #ff6700;
  background: transparent;
  border-radius: 10px;
  letter-spacing: 1px;
}

.reload-btn span {
  margin-right: 5px;
  font-size: 24px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.reload-btn:hover {
  letter-spacing: 2px;
  border: solid 2px #ff8636;
  background: rgba(102, 102, 102, 0);
}

.reload-btn:hover span {
  -webkit-transform: rotate(-250deg);
          transform: rotate(-250deg);
}

.reload-btn.reload-comments {
  width: 200px;
  font-size: 16px;
}

.reload-btn.reload-comments span {
  font-size: 16px;
}

svg path,
svg rect {
  fill: #FF6700;
  -webkit-transition: none;
  transition: none;
}

.loader {
  margin-top: 20px;
}

.themeSwitcher {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  width: 24px;
  height: 48px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.themeSwitcher .light,
.themeSwitcher .dark {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ff6700;
}

.themeSwitcher .light {
  opacity: 0;
}

.themeSwitcher .dark {
  opacity: 1;
}

.themeSwitcher.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.themeSwitcher.active .light {
  opacity: 1;
}

.themeSwitcher.active .dark {
  opacity: 0;
}

.error {
  margin-top: 40px;
}

.error h2,
.error h3 {
  margin-bottom: 10px;
  text-align: center;
}

.error h2 a,
.error h3 a {
  position: relative;
  display: inline-block;
  width: 100px;
  border-bottom: 1px solid #ff8636;
}

.error h2 a:hover,
.error h3 a:hover {
  width: 110px;
}

.post {
  position: relative;
  width: 80%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  padding: 20px 40px;
  border-right: solid 2px #ff8636;
  border-left: solid 2px #ff8636;
  -webkit-transition: .3s;
  transition: .3s;
}

.post::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), color-stop(30%, #ff8636), color-stop(70%, #ff8636), color-stop(90%, transparent));
  background: linear-gradient(90deg, transparent 10%, #ff8636 30%, #ff8636 70%, transparent 90%);
}

.post:last-child::after {
  width: 0;
}

.post:hover {
  padding: 20px 50px;
}

.header {
  cursor: pointer;
  margin: auto;
  margin-top: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 30px;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 5px;
  border-right: solid 4px #ff8636;
  border-left: solid 4px #ff8636;
  -webkit-transition: .3s;
  transition: .3s;
}

.header:hover {
  padding: 0 40px;
}

.commentsSection,
.show-more {
  padding-left: 5px;
  border-left: 1px solid #ff8636;
}

.show-more,
.show-less {
  cursor: pointer;
  color: #ff8636;
}

.show-more:hover,
.show-less:hover {
  padding-left: 10px;
}

.concret-comment {
  position: relative;
}

.concret-comment::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(3%, #ff8636), color-stop(70%, #ff8636), color-stop(90%, transparent));
  background: linear-gradient(90deg, transparent 0%, #ff8636 3%, #ff8636 70%, transparent 90%);
}

.concret-comment:last-child::after {
  width: 0;
}

body.light {
  background: #fff;
}

body.light * {
  color: #000;
}
/*# sourceMappingURL=main.css.map */